__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.idea/
.vscode/
*.log
*.sqlite
data/images/
data/datasets/
data/db/
data/logs/
!data/datasets/.keep
!data/images/.keep
!data/db/.keep
!data/logs/.keep
